<h1>Books</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <tr>
    <td>リーダブルコード</td>
    <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
    <td>Show</td>
    <td>Edit</td>
    <td>Destroy</td>
  </tr>
</table>

<h2>New book</h2>
<div class="new_book_box">
  <%= form_with model: @book,url: '/books', method: :post do |f| %>
    <p>Title</p>
    <%= f.text_field :title %>

    <p>Body</p>
    <%= f.text_area :body %>

    <div class="submit">
      <%= f.submit 'Create Book' %>
    </div>
  <% end %>
</div>
