<div class="message">
  <%= flash[:notice] %>
</div>

<p>
  <b>Title:</b><%= @book.title %>
</p>

<p>
  <b>Body:</b><%= @book.body %>
</p>

<p class="edit_show show">
  <%= link_to "Edit",edit_book_path(@book.id) %>
   |
  <a href="/books">Back</a>
</p>