// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 33px;
}

td {
  font-size: 13px;
  padding: 1px 5px 7px ;
}

.new_book_box {
  margin: 0;
}